{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ chapter.total_members }} members</p>
<p>{{ object.description }}</p>
<p>Organizing hub: <a href="{{ object.organizing_hub_url }}">{{ object.organizing_hub_url }}</a></p>

{% include "chapters/chapter_link_list.html" %}

{% if object.nearby_chapters.exists %}
<p>Nearby chapters:</p>
<ul>
    {% for nc in object.nearby_chapters.all %}
    <li><a href="{% url 'chapter_detail' nc.slug %}">{{ nc }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
